* {
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

.top {
   padding-top: 40px;
   /* padding-bottom: 96px; */
}

.header {
   margin-bottom: 84px;
}

.top__content {
   margin-bottom: 162px;
}

.top__title {
   margin-bottom: 17px;
}

.top__buttons {
   margin-top: 37px;
}

.top__logos {
   padding-top: 97px;
   padding-bottom: 96px;
}